.headerContainer{
    background-color: #17254E; 
    color: white;
    display: flex;
    min-width: 1090px;
    align-items: center;
    align-content: center;
    justify-items: center;
    gap: 50px;
    padding-left: 20px;
    
}

.headerContainer a {
    color: white;
}

 a {
    text-decoration: none;
}

.secondHeaderContainer{
    background-color: white; 
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 20px;
    height: 60px;
    margin-top: 5px;
}

.homeContactArea{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 500;
    color: #646cff;
}
